@namespace AppsByTAP.BlazorFluentUI.Components.Spinner
@inherits SpinnerViewModel

<div class="wrapper" style="display: @(IsLoading ? "flex" : "none");">
    <div class="grid">
        <span></span>
        <div class="label middelLabel">@_labelTop</div>
        <span></span>

        <div class="label sideLabel">@_labelLeft</div>
        <div class="spinnerWrapper">
            <div class="spinner @(_spinnerSizeClass)"></div>
        </div>
        <div class="label sideLabel">@_labelRight</div>

        <span></span>
        <div class="label middelLabel">@_labelBottom</div>
        <span></span>
    </div>
</div>