<div>
    <AppsByTAP.BlazorFluentUI.Components.Label.Label Text="@Label" />
    @if(!IsMultiLine)
    {
        <input id="@ID" @bind="@Value" class="textArea" type="@Type.ToString()"
        style="@(!string.IsNullOrEmpty(MaxWidth) ? $"max-width: {MaxWidth};" : "") @(!string.IsNullOrEmpty(Width) ? $"width: {Width};": "") @(Height >= 0 ? $"height: {Height}px;" : "") @(!DisplayBorder ? "border: none;" : "")" 
        placeholder="@PlaceHolder" @onblur=OnBlur />
    }
    else
    {
        <textarea id="@ID" @bind="@Value" class="textArea" placeholder="@PlaceHolder"
                  style="resize: @(MultiLineCanResize ? "both" : "none");@(!string.IsNullOrEmpty(MaxWidth) ? $"max-width: {MaxWidth};" : "") @(!string.IsNullOrEmpty(Width) ? $"width: {Width};": "") @(Height >= 0 ? $"height: {Height}px;" : "") @(!DisplayBorder ? "border: none;" : "")" @onblur=OnBlur />
    }
</div>


