@namespace AppsByTAP.BlazorFluentUI.Components.Persona
@using AppsByTAP.BlazorFluentUI.Components.FitText
@inherits PersonaViewModel

<div class="personaContainer">
    <div class="userIcon" style="background-color: @BackgroundColor; border-radius: @(BorderRadius)%; width: @(Size)px; height: @(Size)px;">
        <FitText Text="@Initials" Compressor=".3" />
    </div>
    <div class="userInfo">
        <div class="userName">@FirstName @LastName</div>
        @if(!string.IsNullOrEmpty(Title))
        {
            <div class="userTitle">@Title</div>
        }
    </div>
</div>