@namespace AppsByTAP.BlazorFluentUI.Components.Button

@using AppsByTAP.BlazorFluentUI.Components.Icon

@inherits BaseButtonViewModel

<div @onclick="OnClickInternal" class="btnContainer @(string.IsNullOrEmpty(SecondaryText) ? "withoutSecondaryText" : "withSecondaryText") @(IsPrimary? "primaryBtn" : "secondaryBtn") @ClassName @(Disabled ? "disabled" : "")" style="@Style"
     @onclick:stopPropagation="OnClickStopPropagation">
    <div class="primaryText">
        <div style="display: @(Icon != IconTypes.None ? "block" : "none");"><Icon IconType="Icon" /></div>
        <div>@Text</div>
    </div>
    <div class="secondary">@SecondaryText</div>
</div>