@namespace AppsByTAP.BlazorFluentUI.Components.Button

@using AppsByTAP.BlazorFluentUI.Components.Icon
@using AppsByTAP.BlazorFluentUI.Components.Spinner

@inherits BaseButtonViewModel

<div @onclick="OnClickInternal" class="btnContainer @(string.IsNullOrEmpty(SecondaryText) ? "withoutSecondaryText" : "withSecondaryText") @(IsPrimary? "primaryBtn" : "secondaryBtn") @ClassName @(Disabled ? "disabled" : "")" style="@Style"
     @onclick:stopPropagation="OnClickStopPropagation" id="@ID">
    <div class="primaryText">
        <div style="display: @(Icon != IconTypes.None ? "block" : "none");"><Icon IconType="Icon" /></div>
        <div>
            @if(IsBusy)
            {
                <TinySpinner Size="SpinnerSize.xSmall" IsLoading=true />
            }
            else
            {
                @Text
            }
        </div>
    </div>
    <div class="secondary">@SecondaryText</div>
</div>