@inherits HyperLinkButtonViewModel

@using AppsByTAP.BlazorFluentUI.Components.Spinner


<div @onclick="OnClickInternal" class="btnContainer @(IsPrimary? "primaryBtn" : "secondaryBtn") @ClassName @(Disabled ? "disabled" : "")" style="@Style"
@onclick:stopPropagation="OnClickStopPropagation" id="@ID">
    <div class="primaryText">
        <a href="@Url" target="@_target" id="@_hyperID">@Text</a>
    </div>
</div>


<style>
@@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>