@inherits HyperLinkButtonViewModel

@using AppsByTAP.BlazorFluentUI.Components.Spinner


<div @onclick="OnClickInternal" class="btnContainer @(IsPrimary? "primaryBtn" : "secondaryBtn") @ClassName @(Disabled ? "disabled" : "")" style="@Style"
@onclick:stopPropagation="OnClickStopPropagation" id="@ID">
    <div class="primaryText">
        <a href="@Url" target="@_target">@Text</a>
    </div>
</div>
