@using AppsByTAP.BlazorFluentUI.Components.Icon

<div @onclick="@Clicked" class="IconButtonContainer @Class @(Disabled ? "disabled" : "")" style="@Style" id="@ID">
    <Icon IconType="@Icon" />
</div>

@code {
    [Parameter]
    public IconTypes Icon { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public bool Disabled { get; set; }
    [Parameter]
    public string ID { get; set; }

    private async void Clicked()
    {
        if (!Disabled)
            await OnClick.InvokeAsync();
    }
}

<style>
    .IconButtonContainer {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        border: 1px solid var(--semanticColors-ButtonBorder);
        border-radius: 2px;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;

        width: fit-content;
        height: fit-content;
    }

    .IconButtonContainer:hover{
        cursor:pointer;
    }

    .disabled {
        background-color: var(--semanticColors-ListItemBackgroundCheckedHovered);
        border: none;
        color: var(--semanticTextColors-DisabledText);
    }

    .IconButtonContainer:hover:active:not(.disabled) {
        cursor: pointer;
        background-color: var(--semanticColors-ButtonBackgroundHovered);
    }
</style>
