@inherits PostButtonViewModel

<form action="@Url" method="POST" id="@FormID" class="@ClassName" style="@Style">
    @foreach(HiddenValue hv in HiddenValues)
    {
        <input type="hidden" name="@hv.Name" value="@hv.Value">
    }    
    <button type="submit" class="btnContainer @(IsPrimary? "primaryBtn" : "secondaryBtn") @ClassName @(Disabled ? "disabled" : "")" style="width: 100%; @Style">@Text</button>
</form>
