
<div class="floatingActionButton @Class" id="@ID" style="bottom: calc(16px + @(BottomNavigationIsVisible ? 56 : 0)px); @Style" @onclick="OnClick" @onclick:stopPropagation="OnClickStopPropagation">
    @if(Icon != Components.Icon.IconTypes.None)
    {
        <AppsByTAP.BlazorFluentUI.Components.FitText.FitText Width="38px" Height="38px" Compressor="IconCompressor">
            <AppsByTAP.BlazorFluentUI.Components.Icon.Icon IconType="Icon" Style="text-align: center;"  />
        </AppsByTAP.BlazorFluentUI.Components.FitText.FitText>
    }
    else
    {
        <img src="@ImageUrl" width="38" height="38" />
    }
</div>
