
<div class="floatingActionButton @Class" id="@ID" style="bottom: calc(16px + @(BottomNavigationIsVisible ? 56 : 0)px); @Style" @onclick="OnClick" @onclick:stopPropagation="OnClickStopPropagation">
    <img src="@ImageUrl" width="24" height="24" />
</div>
