@using AppsByTAP.BlazorFluentUI.Components.Icon
@using AppsByTAP.BlazorFluentUI.Components.CheckBox
@using AppsByTAP.BlazorFluentUI.Components.BaseComponent 
@using AppsByTAP.BlazorFluentUI.Components.LightDismiss

@namespace AppsByTAP.BlazorFluentUI.Components.DropDown

<div class="dropDownWrapper @ClassName" style="width: @Width;" @onblur="Close" @onclick:stopPropagation="OnClickStopPropagation">
    <AppsByTAP.BlazorFluentUI.Components.Label.Label Text="@Label" Disabled=Disabled />
    <div class="dropDownCtrl @(Disabled ? "disabled" : "")" @onclick="OpenDropDown" style="width: @Width;">
        <div class="dropDownSelection" style="flex: 1;">
            @DisplayInfo
        </div>
        <span class="dropDownChenron"><Icon IconType="IconTypes.ChevronDown" /></span>
    </div>
    <LightDismiss @bind-IsOpen="IsOpen" OnClose="Close" Layer="@(_layer - 1)" />
    <div id="@_id" class="itemsPanel" style="visibility: @(IsOpen ? "visible" : "hidden"); z-index: @(_layer); width: @Width; @(ItemsPanelHeight < 0 ? "height: fit-content;" : $"max-height: {ItemsPanelHeight}px;") @(_top > -1 ? $"top: {_top}px;" : "")">
        @Content
    </div>
</div>