@using AppsByTAP.BlazorFluentUI.Components.Icon
@using AppsByTAP.BlazorFluentUI.Components.CheckBox

@namespace AppsByTAP.BlazorFluentUI.Components.DropDown
@typeparam TItem
@inherits DropDownViewModel<TItem>

<div class="dropDownWrapper @ClassName" style="@Style" @onblur="Close">
    <div class="dropDownCtrl @(Disabled ? "disabled" : "")" @onclick="OpenDropDown">
        <span class="dropDownSelection">@_selectedDisplayText</span>
        <span class="dropDownChenron"><Icon IconType="IconTypes.ChevronDown" /></span>
    </div>
    <div class="lightDismiss" style="display: @(_displayDropDown ? "block" : "none")" @onclick="Close" @onmousewheel="Close"></div>
    <div class="itemsPanel" style="display: @(_displayDropDown ? "block" : "none")">
        @if (ItemsSource is not null)
        {
            @foreach (TItem item in ItemsSource)
            {
                if (item is DropDownItem ddi)
                {
                    if (ddi.Type == DropDownItemType.Item)
                    {
                        <div class="item" @onclick="() => SelectItem(item)">@ddi.Item</div>
                    }
                    else
                    {
                        <div class="header">@ddi.Item</div>
                    }
                }
                else if(IsMultiSelect)
                {
                    <CheckBox Label="@item.ToString()" OnChanged="MultiSelectChanged" />
                }
                else
                {
                    <div class="item" @onclick="() => SelectItem(item)">@item</div>
                }
            }
        }
    </div>
</div>