@using AppsByTAP.BlazorFluentUI.Components.Icon
@using AppsByTAP.BlazorFluentUI.Components.CheckBox
@using AppsByTAP.BlazorFluentUI.Components.BaseComponent 

@namespace AppsByTAP.BlazorFluentUI.Components.DropDown
@typeparam TItem
@inherits DropDownViewModel<TItem>

<div class="dropDownWrapper @ClassName" style="@Style" @onblur="Close">
    <div class="label @(Disabled ? "disabledText" : "")">@Label</div>
    <div class="dropDownCtrl @(Disabled ? "disabled" : "")" @onclick="OpenDropDown">
        <span class="dropDownSelection">@_selectedDisplayText</span>
        <span class="dropDownChenron"><Icon IconType="IconTypes.ChevronDown" /></span>
    </div>
    <div class="lightDismiss" style="display: @(_displayDropDown ? "block" : "none")" @onclick="Close" @onmousewheel="Close"></div>
    <div class="itemsPanel" style="display: @(_displayDropDown ? "block" : "none"); z-index: @(LayerCounter.GetLayer());">
        @if (ItemsSource is not null)
        {
            @foreach (DropDownItem<TItem> item in Items)
            {
                //if (item is DropDownItem ddi)
                //{
                if (item.Type == DropDownItemType.Item)
                {
                    if (IsMultiSelect)
                    {
                        <div class="item">
                            <CheckBox Label="@item.ToString()" OnChanged="MultiSelectChanged" @bind-IsChecked="item.IsSelected" />
                        </div>
                    }
                    else
                    {
                        <div class="item" @onclick="() => SelectItem(item)">@item.Item</div>
                    }
                }
                else
                {
                    <div class="header">@item.Item</div>
                }
                //}
                @*else if (IsMultiSelect)
                {
                    <div class="item">
                        <CheckBox Label="@item.ToString()" OnChanged="MultiSelectChanged" />
                    </div>
                }
                else
                {
                    <div class="item" @onclick="() => SelectItem(item)">@item</div>
                }*@
            }
        }
    </div>
</div>