@using AppsByTAP.BlazorFluentUI.Components.Icon

@namespace AppsByTAP.BlazorFluentUI.Components.Expander
@inherits ExpanderViewModel

<div>
    <div @onclick="Clicked" class="headerContent">
        <div class="chevron">
            <div class=" @(IsOpen ? "rotateBack2Zero" : "rotateBack2Neg90") @(ChevronIsDown ? "chevronDown" : "chevronRight")"><Icon IconType="IconTypes.ChevronDown" /></div>
        </div>
        <span class="header @(IsOpen ? "headerOpen" : "")">@Header</span>
    </div>
    <div class="childContentPanel" style="display: @(IsOpen ? "block" : "none");">
        @ChildContent
    </div>
</div>